*
  box-sizing: border-box

@import old

.pixie
  .content
    padding-top: 50px
  .viewport
    display: block
    margin: 0

.dropdown-menu
  padding: 0
  a
    padding: 11px 15px

@import pagination
@import form
